<app-cliente-identificacao *ngIf="hasSomeIdentification" [identificacao]="identificacao">
</app-cliente-identificacao>

<mat-card class="card-margins">
    <mat-card-content>
        <app-file-upload-section (openFields)="setWantFillManual($event)"
                                 (arquivoDadoResult)="setArquivoDadoResult($event)"></app-file-upload-section>
    </mat-card-content>
</mat-card>

<mat-card class="card-margins" *ngIf="wantFillManual">
    <mat-card-content>

        <div class="overflow-auto" *ngIf="inputResult.periodo.inicio">
            <table mat-table [dataSource]="dataSource1">
                <ng-container matColumnDef="periodo">
                    <th mat-header-cell *matHeaderCellDef> Período </th>
                    <td mat-header-cell mat-cell *matCellDef="let element">
                        {{element}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="section1Columns"></tr>
                <tr mat-row *matRowDef="let row; columns: section1Columns;"></tr>
            </table>
        </div>
        
        <div class="input-fields-container">
            <app-input-field label="Faturamento"
                             class="width100"
                             (inputFieldOutValue)="setFaturamentoPeriodo($event)"
                             [analiseInputValue]="inputResult.faturamentoPeriodo.toString()">
            </app-input-field>
            <app-input-field label="Salários"
                             class="width100"
                             (inputFieldOutValue)="setSalarios($event)"
                             [analiseInputValue]="inputResult.salariosValor.toString()">
            </app-input-field>
            <app-input-field label="Pró-labores"
                             class="width100"
                             (inputFieldOutValue)="setProLabores($event)"
                             [analiseInputValue]="inputResult.proLaboreValor.toString()">
            </app-input-field>
            <app-input-field label="Vendas"
                             class="width100"
                             (inputFieldOutValue)="setVendas($event)">
            </app-input-field>
        </div>
    </mat-card-content>
</mat-card>

<mat-accordion class="card-margins" *ngIf="wantFillManual">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Mais informações
                <mat-chip-listbox *ngIf="hasAdditionalData">
                    <mat-chip-option color="accent" selected>
                        {{ additionalDataQuantity }}
                    </mat-chip-option>
                </mat-chip-listbox>
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <div class="input-fields-container">
            <app-input-field label="Valor Médio de Crédito de ICMS"
                            class="width100"
                            (inputFieldOutValue)="setValorMedioCreditoICMS($event)"
                            [analiseInputValue]="inputResult.valorMedioCreditoICMS.toString()">
            </app-input-field>
            <app-input-field label="Valor Médio de Crédito de PIS"
                            class="width100"
                            (inputFieldOutValue)="setValorMedioCreditoPIS($event)"
                            [analiseInputValue]="inputResult.valorMedioCreditoPIS.toString()">
            </app-input-field>
            <app-input-field label="Valor Médio de Crédito de COFINS"
                            class="width100"
                            (inputFieldOutValue)="setValorMedioCreditoCOFINS($event)"
                            [analiseInputValue]="inputResult.valorMedioCreditoCOFINS.toString()">
            </app-input-field>
            <app-input-field label="Compras MP"
                            class="width100"
                            (inputFieldOutValue)="setComprasMP($event)">
            </app-input-field>
        </div>

        <div class="input-fields-container">
            <app-input-field label="Despesa com Folha"
                            class="width100"
                            (inputFieldOutValue)="setDespesaComFolha($event)">
            </app-input-field>
            <app-input-field label="Outras Despesas"
                            class="width100"
                            (inputFieldOutValue)="setOutrasDespesas($event)">
            </app-input-field>
            <app-input-field label="Impostos"
                            class="width100"
                            (inputFieldOutValue)="setImpostos($event)">
            </app-input-field>

            <div class="input-field-container" class="width100">
                <div class="marginbottom1">
                    Lucro Apurado
                </div>
                <div class="display-flex">
                    <div class="fontbold">
                        {{lucroApurado | number: '.2'}}
                    </div>
                    <div>
                        <mat-icon color="warn" *ngIf="lucroApurado.includes('-')">
                            thumb_down
                        </mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>

<mat-card class="card-margins">
    <mat-card-content>
        <button mat-flat-button
                color="primary"
                (click)="analisar()"
                *ngIf="!isRequesting"
                [disabled]="hasEmptyField()">
            Analisar
        </button>
    </mat-card-content>
    <mat-progress-bar mode="indeterminate"
                      *ngIf="isRequesting">
    </mat-progress-bar>
</mat-card>

<app-resultado [input]="requestResult"
               *ngIf="requestResult.input">
</app-resultado>