.melhor-enquadramento {
    padding: 20px;
    background-color: #004D40;
    margin-top: 5px;
    font-size: 2em;
    font-weight: bold;
    color: #FFFFFF;
}

.outros-enquadramentos {
    display: flex;
    margin-top: 5px;
}

.mid-enquadramento {
    padding: 20px;
    background-color: #4DB6AC;
    flex-grow: 1;
    margin-right: 5px;
}

.pior-enquadramento {
    padding: 20px;
    background-color: #B2DFDB;
    color: #a3a3a3;
}