<div [hidden]="isRequesting">
    <div>
        <app-file-upload (selectedFiles)="setFiles($event)"></app-file-upload>
    </div>
    <mat-divider class="file-upload-divisor"></mat-divider>
    <div class="preenchimento-button-container">
        <button mat-raised-button color="primary" (click)="send()" *ngIf="hasFiles()">
            Preencher a partir de arquivos
        </button>
        <button mat-raised-button (click)="setWantFillManual()">
            Preencher manualmente
        </button>
    </div>
</div>
<div *ngIf="isRequesting">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>