<div class="input-field-container">
    <mat-form-field class="width100">
        <mat-label>
            {{ label }}
        </mat-label>
        <input matInput
            type="text"
            mask="separator.2"
            thousandSeparator="."
            [(ngModel)]="value"
            (input)="changeInputValue(value)">
        <button *ngIf="value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="value=''; changeInputValue(value)">
            <mat-icon>
                close
            </mat-icon>
        </button>
    </mat-form-field>
</div>