/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.width100 {
    width: 100%
}

.card-margins {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}